<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="/stylesheet.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <%- include ('./partials/header.ejs') %>
        <h1>About Me</h1>
        <p class="basicInfo"> I am a software engineer and problem solver with a background in education that will streamline your business processes necessary to maximize your profits. I want to further improve the communication between individuals to further enhance our means of success. I offer precise communication and constant updates. Furthermore, I am able to explicitly explain the steps required to make your business/product catered to you. I find great satisfaction being able to explain complicated and abstract problems which are crucial in assisting people to accomplish their goals. </p>
        <%- include ('./partials/footer.ejs') %>
    </body>
</html>
