<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="/stylesheet.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include ('./partials/header.ejs') %>
        <h1>Projects</h1>
        <a href="https://face-less.herokuapp.com/"> faceless </a>
        <iframe id="project" src="https://face-less.herokuapp.com/" height="800" width="640"><


        <a href="https://captionerx.herokuapp.com/"> captioner </a>
        <iframe id="project" src="https://face-less.herokuapp.com/" height="800" width="640"><


        <%- include ('./partials/footer.ejs') %>
    </body>
</html>
