<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="/stylesheet.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include ('./partials/header.ejs') %>
        <h1>Resume</h1>

        <!-- <embed src=”https://drive.google.com/file/d/1aL-kw9GAk2nuWoXUHOjW75rWZ_eey3Vd/view?usp=sharing" type=”application/pdf” width=”100%” height=”100%”> -->
        <div id="resume">
        <iframe src="https://drive.google.com/file/d/1aL-kw9GAk2nuWoXUHOjW75rWZ_eey3Vd/preview" width="640" height="480"></iframe>
        </div>

        <%- include ('./partials/footer.ejs') %>
    </body>
</html>
